html, body
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: Arial, Calibri, sans-serif;
}
body
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8rem;
	max-height: 8rem;
	padding: 2rem 2rem;
	background: linear-gradient(180deg, #001261 50%, #ffffff 50%);
    background-size: 150% 8rem;
	display: flex;
	box-sizing: border-box;
	transition: max-height .3s ease-out;
}
header.scrolled {
	max-height: 4rem;
}
footer 
{
	padding: 1rem 3rem;
	flex: 0 0 auto;
	text-align: center;
	font-size: .75rem;
	color: #ffffff;
	background-color: #001261;
}
.core-content 
{
	flex: 1;
}
.header-title, .header-tab 
{
	flex: 1 0;
}
.header-title
{
	position: relative;
	font-size: 3rem;
	line-height: 3rem;
	color: #001261;
	font-family: "Poppins", Arial, Calibri, sans-serif;
}
.header-title:before
{
	position: absolute;
	font-size: 3rem;
	line-height: 3rem;
	color: #ffffff;
	content: "Pencarinama";
	max-height: 2rem;
	overflow: hidden;
}
.header-tab
{
	flex: 0;
	white-space: nowrap;
}
.tab-item 
{
	color: #ffffff;
	text-decoration: none;
	border-width: 4px;
	padding: .25rem;
	border: .15rem solid transparent;
	border-radius: .3rem;
	margin: 0 1rem;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.tab-item:hover, .tab-item:active, .tab-item:focus
{
	transition: border-color .3s;
	border-color: #B06756;
}
.tab-item:nth-last-child(1)
{
	margin-right: 0;
}

#top
{
	min-height: 100vh;
	background: #00126122;
}
.hero
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
	font-family: "Poppins", Arial, Calibri;
	text-align: left;
	width: 60vw;
	font-size: 4rem;
	color: #ffffff;
}