html, body
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 27px;
	font-family: Arial, Calibri, sans-serif;
	scroll-behavior: smooth;
	min-width: 480px;
}
* 
{
	z-index: 1;
}
body
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8rem;
	max-height: 8rem;
	padding: 2rem 2rem;
	background: linear-gradient(180deg, #001261 50%, #ffffff 50%);
    background-size: 150% 8rem;
	display: flex;
	box-sizing: border-box;
	transition: max-height .2s ease-out;
	z-index: 9;
}
header.scrolled {
	max-height: 4rem;
}
header.scrolled .header-title 
{
	transition: 0.2s 0.2s;
	margin-top: -1.5rem;
}
header.scrolled .header-title:before {
	transition-delay: .2s;
	max-height: 4rem;
}
footer 
{
	padding: 1rem 3rem;
	flex: 0 0 auto;
	text-align: center;
	font-size: .75rem;
	color: #ffffff;
	background-color: #001261;
	z-index: 9;
}
.core-content 
{
	position: relative;
	flex: 1 0 100vh;
	box-sizing: border-box;
}
.header-title, .header-tab 
{
	flex: 1 0;
}
.header-title
{
	position: relative;
	font-size: 3rem;
	line-height: 3rem;
	color: #001261;
	transition: 0.2s;
	font-family: "Poppins", Arial, Calibri, sans-serif;
}
.header-title:before
{
	position: absolute;
	font-size: 3rem;
	line-height: 3rem;
	color: #ffffff;
	content: "Pencarinama";
	max-height: 2rem;
	overflow: hidden;
}
.header-tab
{
	flex: 0;
	white-space: nowrap;
}
.tab-item 
{
	color: #ffffff;
	text-decoration: none;
	border-width: 4px;
	padding: .25rem;
	border: .15rem solid transparent;
	border-radius: .3rem;
	margin: 0 1rem;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.tab-item:hover, .tab-item:active, .tab-item:focus
{
	transition: border-color .3s;
	border-color: #B06756;
}
.tab-item:nth-last-child(1)
{
	margin-right: 0;
}

#core-content-top
{
	min-height: max(100vh, 800px);
	background: url(../images/bg.png);
	/*background-image: url(../images/bg.png);*/
}
#core-content-top:before
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: linear-gradient(37deg, #001261, #00126122, #001261de), linear-gradient(180deg, #00126146 80%, #001261);
	content: '';
}
#core-content-works
{
	background: linear-gradient(180deg, #001261, #00126100 6rem);
	min-height: min(100vh, 720px);
	padding: 12rem 4rem;
	flex-basis: auto;
}
#core-content-contact 
{
	flex-basis: auto;
	text-align: center;
	padding: 1rem 4rem 4rem;
}
.contact-title 
{
	font-size: 3rem;
	margin-bottom: 3rem;
	font-family: "Poppins", Arial, Calibri, sans-serif;
}
.contact-title em 
{
	font-style: initial;
	color: #001261;
}
.slider
{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto 0;
	border-radius: .4rem;
	border: .1rem solid #00126165;
	outline: none;
}
.slider:focus, .slider:focus-within {
	border: .1rem solid #001261ff;
}
.slider-container 
{
	box-sizing: border-box;
	position: relative;
	padding: 2rem 0;
	width: min(80vw, 720px, 100%);
	height: 550px;
	margin: auto;
	overflow: hidden;
	display: flex;
	scroll-behavior: smooth;
}
.slider-item
{
	flex: 1 0 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
/*.slider-item:not(.js__active)*/
/*{*/
	/*top: 0;*/
	/*position: absolute;*/
	/*visibility: hidden;*/
	/*opacity: 0;*/
/*}*/
.slider-item-image
{
	flex: 1 1 55%;
	object-fit: contain;
	object-position: top;
	max-height: 330px;
}
.slider-item-description
{
	flex: 0 1 30%;
	padding: 2rem 2rem;
	margin: 0;
}
.slider-navigation
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.slider-navigation-prev, .slider-navigation-next
{
	position: absolute;
	pointer-events: initial;
	appearance:  unset;
	height: 2rem;
	min-width: 2rem;
	border-radius: .5rem;
	background-color: #001261;
	border: .2rem solid #001261;
	outline: none;
	top: 50%;
	transform: translate(0, -50%);
	transition: .2s linear;
}
.slider-navigation-prev:before, .slider-navigation-next:before
{
	position: absolute;
	right: .6rem;
	top: 50%;
	border-right: .2rem solid #ffffff;
	border-bottom: .2rem solid #ffffff;
	content: '';
	height: .6rem;
	width: .6rem;
	transform:  translate(0, -50%) rotate(-45deg);
	z-index: 2;
}
.slider-navigation-prev:before
{
	left: .6rem;
	transform:  translate(0, -50%) rotate(-225deg);
}
.slider-navigation-prev:after, .slider-navigation-next:after
{
	position: absolute;
	z-index: 1;
	height: 1.6rem;
	border: .2rem solid transparent;
	max-width: 0;
	content: attr(label);
	white-space: nowrap;
	color: #ffffff;
	right: 1.4rem;
	top: 50%;
	line-height: 1.7rem;
	transform: translate(0, -50%);
	background: #001261;
	overflow: hidden;
	border-radius: .5rem 0 0 .5rem;
	text-indent: .5rem;
	transition: .2s linear;
}
.slider-navigation-prev:after
{
	right: initial;
	left: 1.4rem;
	border-left: 0 solid transparent;
	border-radius: 0 .5rem .5rem 0;
	text-indent: 0;
}
.slider-navigation-next:after
{
	border-right: 0 solid transparent;
}
.slider-navigation-prev:focus:after, .slider-navigation-next:focus:after, .slider-navigation-prev:hover:after, .slider-navigation-next:hover:after, .slider-navigation-prev:active:after, .slider-navigation-next:active:after
{
	max-width: 12rem;
	border-color: #B06756;
}
.slider-navigation-prev:focus:after, .slider-navigation-prev:hover:after, .slider-navigation-prev:active:after
{	
	padding-right: .5rem;
}
.slider-navigation-prev:focus, .slider-navigation-next:focus, .slider-navigation-prev:hover, .slider-navigation-next:hover, .slider-navigation-prev:active, .slider-navigation-next:active
{
	border: .2rem solid#B06756;
}
.slider-navigation-prev
{
	left: .5rem;	
}
.slider-navigation-next
{
	right: .5rem;
	background: #001261;
}

.hero
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
	font-family: "Poppins", Arial, Calibri;
	text-align: left;
	width: 60vw;
	font-size: 4rem;
	line-height: 4rem;
	color: #ffffff;
}
.sidekick {
	opacity: 0;
	line-height: 1.5;
	pointer-events: none;
	font-size: 1rem;
	position: absolute;
	max-width: 100%;
	top: 110%;
	top: calc(100% + 4rem);
	transition: .5s 3s;
	font-family: "Poppins", Arial, Calibri;
}
.sidekick.js__active {
	pointer-events: initial;
	opacity: 1;
}
.header-sidebar {
	display: none;
}
.hero-link
{
	position: relative;
	display: inline-block;
	margin-top: .5rem;
	padding: .75rem 1.5rem;
	color: #ffffff;
	border: .1rem solid #ffffff;
	outline: none;
	text-decoration: none;
}
.hero-link:before, .hero-link:after
{
	position: absolute;
	z-index: 9;
	pointer-events: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #001261;
	overflow: hidden;
	max-width: 0%;
	padding: 0;
	background: #ffffff;
	font-size: inherit;
	white-space: nowrap;
	content: "";
	box-sizing: border-box;
}
.hero-link:after
{
	content: "See my portfolio";
	top: .75rem;
	left: 1.5rem;
	background: transparent;
	max-width: 0;
}
.hero-link:focus:before, .hero-link:hover:before, .hero-link:active:before
{
	transition: .25s ease-out;
	max-width: 100%;
}
.hero-link:focus:after, .hero-link:hover:after, .hero-link:active:after
{
	transition: .2s ease-out .025s;
	max-width: 100%;
}
[attr-anchor]
{
	position: absolute;
	opacity: 0;
	margin-top: -4rem;
}
[attr-anchor='works']
{
	margin-top: -8rem;
}

.slider-image-overlay 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9;
	opacity: 0;
	background-color: #00000044;
	display: block;
}
.slider-image-overlay.js__active {
	opacity: 1;
	pointer-events: initial;
}
.slider-image-close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	appearance: unset;
	background: transparent;
	border: 0;
}
.slider-image-zoom
{
	position: absolute;
	max-height: 92%;
	max-width: 92%;
	object-fit: contain;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media(max-width: 840px) {
	
	header {
		max-height: 4rem;
	}
	header .header-title 
	{
		transition: 0.2s 0.2s;
		margin-top: -1.5rem;
		font-size: 1.5rem;
	}
	header .header-title:before {
		transition-delay: .2s;
		max-height: 4rem;
		font-size: 1.5rem;
	}
	.hero {
		font-size: 3.25rem;
		width: 80vw;
		top: 8rem;
		transform:  translate(-50%, 0);
	}
	.header-tab {
		display: none;
	}

	.header-sidebar {
		position: fixed;
		display: initial;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		pointer-events: none;
	}
	.header-sidebar-button {
		position: absolute;
		display: block;
		top: 1rem;
		right: 2rem;
		width: 2rem;
		height: 2rem;
		background: #00000000;
		border: none;
		z-index: 2;
	}
	.header-sidebar-button:before, .header-sidebar-button:after
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center;
		transform:  translate(-50%, -50%);
		transition: .25s;
		content: '';
		height: .2rem;
		width: 2rem;
		border-radius: 1rem;
		background-color: #ffffff;
		pointer-events: initial;
	}
	.header-sidebar-button:after {
		transform: translate(-50%, -50%) rotate(90deg) ;
	}
	.header-sidebar-button.js__active:before
	{
		transform: translate(-50%, -50%) rotate(45deg) ;	
	}
	.header-sidebar-button.js__active:after
	{
		transform: translate(-50%, -50%) rotate(135deg) ;	
	}
	.header-sidebar-content 
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #00000044;
		opacity: 1;
		transition: .3s ease-out;
	}
	.header-sidebar-content:not(.js__active)
	{
		opacity: 0;
		pointer-events: none;
	}
	.header-sidebar-content:not(.js__active) .header-sidebar-overlay
	{
		right: -100%;
	}
	.header-sidebar-overlay {
		position: absolute;
		right: 0;
		bottom: 0;
		width: auto;
		background: #ffffff;
		height: 100%;
		height: calc(100% - 4rem);
		padding: 1rem .25rem;
		box-sizing: border-box;
		transition: .4s linear;
	}
	.sidebar-item
	{
		position: relative;
		display: block;
		color: #001261;
		padding: 1.25rem 1rem .75rem;
		text-decoration: none;
		margin: 0 1rem;
		-webkit-tap-highlight-color: transparent;
		pointer-events: initial;
		outline: none;
	}
	.header-sidebar-content:not(.js__active) .sidebar-item
	{
		pointer-events: none;
	}
	.sidebar-item:before
	{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		content: '';
		height: .15rem;
		background-color: #001261;
		transform: scaleX(0);
	}
	.sidebar-item:hover:before, .sidebar-item:active:before, .sidebar-item:focus:before
	{
		transition:.1s;
		transform: scaleX(1);
	}
	.slider-container
	{
		height: auto;
		padding: 2rem 0;
		width: 100%;
	}
	.slider
	{
		height: auto;
		padding: 0 0.5rem;
	}
	.slider-item
	{
		width: 100%;
		height: auto;
	}
	.slider-item-description
	{	
		margin-top: 1.2rem;
	}
	.slider-navigation-prev:after, .slider-navigation-next:after
	{
		display: none;
	}
	.slider-navigation-prev, .slider-navigation-next
	{
		top: initial;
		bottom: .6rem;
		transform: none;
	}
}

@media(max-height: 600px)
{
	.hero 
	{
		top: 8rem;
		width: 80vw;
		transform:  translate(-50%, 0%);
	}
}

@media (prefers-reduced-motion) {
  * 
  {
  	transition: 0s!important;
  	animation-duration: .001s!important;
  	scroll-behavior: initial!important;
  }
}